In [17]:
# Import pandas library to work with CSV data file 
import pandas as pd

In [21]:
# Read the information from your .CSV file into pandas
airline_info = pd.read_csv(r'C:\Users\Corey Colgan\Desktop\School\SPS\Fall 2019\IS362\flight_data.csv', index_col = 0)
airline_info.head()

,Alaska On Time,Alaska Delayed,AM West On Time,AM West Delayed
CITY,,,,
Los Angeles,497,62,694,117
Phoenix,221,12,4840,415
San Diego,212,20,383,65
San Francisco,503,102,320,129
Seattle,1841,305,201,61

In [23]:
# Conduct analysis on the data to compare arrival delays for the two airlines 

airline_info['TotalAlaskaArrivals'] = airline_info['Alaska On Time'] + airline_info['Alaska Delayed']
airline_info['AlaskaPercentagesOfDelay'] = (airline_info['Alaska Delayed'] / airline_info['TotalAlaskaArrivals']) * 100
airline_info['AlaskaPercentagesOfDelay']

CITY
Los Angeles      11.091234
Phoenix           5.150215
San Diego         8.620690
San Francisco    16.859504
Seattle          14.212488
Name: AlaskaPercentagesOfDelay, dtype: float64

In [24]:
airline_info['TotalAMWestArrivals'] = airline_info['AM West On Time'] + airline_info['AM West Delayed']
airline_info['AMWestPercentagesOfDelay'] = (airline_info['AM West Delayed'] / airline_info['TotalAMWestArrivals']) * 100
airline_info['AMWestPercentagesOfDelay']

CITY
Los Angeles      14.426634
Phoenix           7.897241
San Diego        14.508929
San Francisco    28.730512
Seattle          23.282443
Name: AMWestPercentagesOfDelay, dtype: float64

In [28]:
# Display updated chart w/ delay percentages added for analysis 
airline_info

,Alaska On Time,Alaska Delayed,AM West On Time,AM West Delayed,TotalAlaskaArrivals,AlaskaPercentagesOfDelay,TotalAMWestArrivals,AMWestPercentagesOfDelay
CITY,,,,,,,,
Los Angeles,497,62,694,117,559,11.091234,811,14.426634
Phoenix,221,12,4840,415,233,5.150215,5255,7.897241
San Diego,212,20,383,65,232,8.620690,448,14.508929
San Francisco,503,102,320,129,605,16.859504,449,28.730512
Seattle,1841,305,201,61,2146,14.212488,262,23.282443

In [ ]:
# We can see that AM West has higher percentages of delays for all cities listed.